*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient( 111.5deg,  rgba(228,247,255,1) 21.9%, rgba(255,216,194,1) 92.2% );
}

h1{
    color:violet;
    font-weight: bold;
}

form{
    padding-top: 80px;
}

