*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    color: blueviolet;
    font-family: sans-serif;
    font-weight: bold;
}

body{
    background: #403B4A;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #E7E9BB, #403B4A);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #E7E9BB, #403B4A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

